*.mdproj
*.userprefs
*.resources
*.pdf
*.xls
*.pidb
*.rar
*.zip
*.csv
*.txt
*.config
*.suo
*.mdb
*.pdb
*.doc
*.xml
/MagicMongoDBTool/MagicMongoDBTool.sln.ide
/GMC-HR/HRSystem/bin
/GMC-HR/HRSystem/obj
/GMC-HR/HRSystem.sln.ide
/GMC-HR/External
/TaiWanTrip/MongoDB
/TaiWanTrip/多媒体
/TaiWanTrip/台湾行程
/TaiWanTrip/设计书
/TaiWanTrip/TaiWanTripPlan/TaiWanTripPlan.sln.ide
/TaiWanTrip/TaiWanTripPlan/Common/bin
/TaiWanTrip/TaiWanTripPlan/Common/obj
/TaiWanTrip/TaiWanTripPlan/UnitTest/bin
/TaiWanTrip/TaiWanTripPlan/UnitTest/obj
/TaiWanTrip/TaiWanTripPlan/packages
/ImportAccessDB/bin
/ImportAccessDB/obj
/ResourceLib/bin
/ResourceLib/obj
/GUI/bin
/GUI/obj
/Common/bin
/Common/obj
/ExportToExcel/bin
/ExportToExcel/obj
/MagicMongoDBTool/bin
/MagicMongoDBTool/obj
/HTTPServer/bin
/HTTPServer/obj
/UnitTest/bin
/UnitTest/obj
/Card/bin
/Card/obj
/CardHelper/bin
/CardHelper/obj
/DesignDocument
/ServerLoader
!readme.txt
!app.config
!Release Note.txt
!Bug.txt
!DesignDocument/Card.xls
!DesignDocument/Design.xls
!DesignDocument/HearthStone.xlsx
!MagicMongoDBTool/packages.config
!MongoCola.zip
!Template.xls
Thumbs.db