*.userprefs
*.resources
*.pdf
*.xls
*.pidb
*.rar
*.zip
*.csv
*.txt
*.config
*.suo
*.mdb
*.pdb
/UnitTest
/MagicMongoDBTool/dll
/MagicMongoDBTool/Resources
/MagicMongoDBTool/bin
/MagicMongoDBTool/obj
!readme.txt
!app.config
!Release Note.txt
