*.mdproj
*.userprefs
*.resources
*.pdf
*.xls
*.pidb
*.rar
*.zip
*.csv
*.txt
*.config
*.suo
*.mdb
*.pdb
*.doc
*.xml
/MongoCola/.localhistory
/MongoCola/MongoCola.sln.ide
/MongoGUICtl/bin
/MongoGUICtl/obj
/ResourceLib/bin
/ResourceLib/obj
/Common/bin
/Common/obj
/PlugInPackage/bin
/PlugInPackage/obj
/MongoCola/bin
/MongoCola/obj
/HTTPServer/bin
/HTTPServer/obj
/UnitTest/bin
/UnitTest/obj
/MongoGUIView/bin
/MongoGUIView/obj
/MongoUtility/bin
/MongoUtility/obj
/UserGuide/bin
/UserGuide/obj
/DesignDocument
/ServerLoader
!readme.txt
!app.config
!Release Note.txt
!Bug.txt
!DesignDocument/Card.xls
!DesignDocument/Design.xls
!DesignDocument/HearthStone.xlsx
!MongoCola/packages.config
!MongoCola.zip
!Template.xls
Thumbs.db