
a {
    color: Blue;
}

table {
    background-image: url('images/background.JPG');
    width: 100%;
}

td {
    color: Black;
}

span {
    background: url('images/background.JPG');
    color: White;
}

#menu {
    font-size: 12px;
    font-weight: bolder;
}

    #menu li {
        list-style-image: none;
        list-style-type: none;
        background-color: #999999;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #000000;
        float: left;
    }

        #menu li a {
            color: #FFFFFF;
            text-decoration: none;
            margin: 0px;
            padding-top: 8px;
            display: block; /* 作为一个块 */
            padding-right: 50px; /* 设置块的属性 */
            padding-bottom: 8px;
            padding-left: 50px;
        }

            #menu li a:hover {
                background-color: #0099CC;
            }
