@using MongoUtility.Core;
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<p class="alert alert-info">

</p>
<br />
<div>
    <table class="table table-striped">
        <tr>
            <th>名称</th>
            <th>主机</th>
            <th>端口</th>
            <th>用户</th>
            <th>副本成员</th>
            <th>操作</th>
        </tr>
    </table>
</div>
