<?xml version="1.0"?>
<ConfigHelper xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SaveConnectionList>
    <MongoConnectionConfig>
      <ConnectionString />
      <ConnectionName>Master</ConnectionName>
      <Host>localhost</Host>
      <Port>28018</Port>
      <UserName>Hu</UserName>
      <Password>123</Password>
      <DataBaseName />
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionName>Slave</ConnectionName>
      <Host>localhost</Host>
      <Port>28019</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>true</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionString />
      <ConnectionName>Shard1</ConnectionName>
      <Host>localhost</Host>
      <Port>10001</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>true</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionName>shard3</ConnectionName>
      <Host>localhost</Host>
      <Port>20001</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>true</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionName>config</ConnectionName>
      <Host>localhost</Host>
      <Port>30001</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionName>shard4</ConnectionName>
      <Host>localhost</Host>
      <Port>20002</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>true</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionString />
      <ConnectionName>route</ConnectionName>
      <Host>localhost</Host>
      <Port>30002</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionName>Master-JpDic</ConnectionName>
      <Host>localhost</Host>
      <Port>28018</Port>
      <UserName>Timy</UserName>
      <Password>211123</Password>
      <DataBaseName>JpDic</DataBaseName>
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionString />
      <ConnectionName>ReplSet</ConnectionName>
      <Host />
      <Port>0</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>50000</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>50000</connectTimeoutMS>
      <socketTimeoutMS>50000</socketTimeoutMS>
      <ReplSetName>set1</ReplSetName>
      <ReplsetList>
        <string>localhost:10001</string>
        <string>localhost:10002</string>
      </ReplsetList>
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionString />
      <ConnectionName>Replset2</ConnectionName>
      <Host>localhost</Host>
      <Port>0</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName>set2</ReplSetName>
      <ReplsetList>
        <string>localhost:20001</string>
        <string>localhost:20002</string>
      </ReplsetList>
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionName>Arbiter</ConnectionName>
      <Host>localhost</Host>
      <Port>28020</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>true</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionName>Magicdict</ConnectionName>
      <Host>localhost</Host>
      <Port>28030</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionString>mongodb://localhost:28030</ConnectionString>
      <ConnectionName>ConnStr</ConnectionName>
      <Port>0</Port>
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionString>mongodb://localhost:28030</ConnectionString>
      <ConnectionName>SoloCity</ConnectionName>
      <Host>localhost</Host>
      <Port>28030</Port>
      <IsSlaveOk>false</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplsetList />
    </MongoConnectionConfig>
    <MongoConnectionConfig>
      <ConnectionString />
      <ConnectionName>shard2</ConnectionName>
      <Host>localhost</Host>
      <Port>10002</Port>
      <UserName />
      <Password />
      <DataBaseName />
      <IsSlaveOk>true</IsSlaveOk>
      <IsSafeMode>false</IsSafeMode>
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <ReplSetName />
      <ReplsetList />
    </MongoConnectionConfig>
  </SaveConnectionList>
  <ConfigVer>1</ConfigVer>
  <MongoBinPath>C:\runmongo\bin</MongoBinPath>
  <RefreshStatusTimer>30</RefreshStatusTimer>
  <LanguageFileName>English</LanguageFileName>
</ConfigHelper>